<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.inspiron.phonesavior">

    <uses-sdk
            android:minSdkVersion="21"
            android:targetSdkVersion="28">
    </uses-sdk>

    <!-- 调用相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.AppStaticsActivity">
        </activity>
        <activity android:name=".ui.AppStatisticsList">
        </activity>
        <activity android:name=".ui.BarChartActivity">
        </activity>
        <activity android:name=".ui.PiePolylineChartActivity">
        </activity>
        <activity
                android:name=".ui.HelpActivity"
                android:label="@string/title_activity_help">
        </activity>
        <activity android:name=".ui.FaceDetectActivity">
        </activity>
        <activity android:name=".ui.CameraActivity"
                  android:theme="@android:style/Theme.Translucent">
        </activity>
    </application>

</manifest>